@import "src/assets/styles/variables";

:host {
  display: block;
}

.app-info-box {
  &__container {
    padding: $mainsize;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 0.25 * $mainsize;

    display: flex;
    justify-content: center;
  }

  &__info {
    font-family: 'Open Sans', verdana, arial, sans-serif;
    font-weight: bold;
  }
}
