<div class="d-flex flex-row">

  <div class="d-flex flex-column mr-5">
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Minimum X:</p>
      <p>{{ parameters?.minX }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Minimum Y:</p>
      <p>{{ parameters?.minY }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Minimum Z:</p>
      <p>{{ parameters?.minZ }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Minimum Frequency:</p>
      <p>{{ parameters?.minFrequency }}</p>
      <p class="ml-1">MHz</p>
    </div>
  </div>

  <div class="d-flex flex-column mr-5">
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Maximum X:</p>
      <p>{{ parameters?.maxX }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Maximum Y:</p>
      <p>{{ parameters?.maxY }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Maximum Z:</p>
      <p>{{ parameters?.maxZ }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Minimum Frequency:</p>
      <p>{{ parameters?.maxFrequency }}</p>
      <p class="ml-1">MHz</p>
    </div>
  </div>

  <div class="d-flex flex-column mr-5">
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Step X:</p>
      <p>{{ parameters?.stepX }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Step Y:</p>
      <p>{{ parameters?.stepY }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Step Z:</p>
      <p>{{ parameters?.stepZ }}</p>
      <p class="ml-1">mm</p>
    </div>
    <div class="d-flex flex-row">
      <p class="mr-2 app-parameters-view__bold">Minimum Frequency:</p>
      <p>{{ parameters?.stepFrequency }}</p>
      <p class="ml-1">MHz</p>
    </div>
  </div>

</div>
